@model IEnumerable<Shop_ban_ca.Models.MAT_HANG>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Style/bootstrap/css/bootstrap.css">
    <style type="text/css">
        input
        {
            margin-left:45%;
        }
        </style>
</head>
<body>
    <p>
            @Html.ActionLink("Tạo mới", "Create")
        </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.TENMATHANG)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.SOLUONG)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.DONGIA)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TENMATHANG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SOLUONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DONGIA)
                    </td>
                    <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.MAMATHANG }) |
                            @Html.ActionLink("Details", "Details", new { id=item.MAMATHANG }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.MAMATHANG })
                        </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript" src="style/bootstrap/js/bootstrap.js"></script>
</body>
</html>
<input type="button" class="btn-dark" onclick="location.href='http://google.com';" value="Trang chủ" />